body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color:#ffffff;
}
/*Global*/
*{
    box-sizing: border-box;
  }
.conteiner{
    display: flex;
}
.conteiner-2{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
ul{
    list-style-type: none;
    display:flex;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.button_1{
    height: 38px;
    background: orange;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    color:white;
    width: fit-content;
}
/*Header*/
header{
    background: url('../img/header-background.jpg') no-repeat;
    color: white;
    padding-top: 10px;
    min-height:70 px;
    border-bottom: grey 3px solid;
    text-align: center;
}
.conteiner-2 p{
    flex-basis: 20%;
    align-self: flex-start;
    margin-top: 0px;
    font-size: 15px;
    font-weight: 100;
}
.conteiner-2 h1{
    flex-basis: 50%;
    font-size: 80px;
    font-family: onyx, serif;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul{
    margin-left: 10px;
}
header li{
    padding:10px;
}
header li:hover{
    opacity: 80%;
    background-color: black;
}
header nav{
    display: flex;
    margin-top: 0px;
    /*background-color: gray;*/
    justify-content: space-between;
}
header .icons-links{
    align-self: center;
    padding: 5px;
    margin-right: 20px;
}
header .fas:hover,.fab:hover{
    background-color: cyan;

}
header .fas, header .fab{
    font-size: 28px;
    padding: 3px;

}
.fa-bars{
    display: none;
}
.fa-facebook-f{
    color: #325a97;
}
.fa-twitter{
    color:#00aced;
}
.fa-youtube{
    color: #ff0000
}

/*Showcase*/
#showcase{
    min-height: auto;
    background-color: #ffffff;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
}
#showcase .n-center{
    order: 2;
    flex-basis: 60%;
}
#showcase img{
    width: 60%;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}
#showcase .subscribe{
   background-color: white;
   flex-basis: 20%; 
   order: 1;
   color: #000000;
}

#showcase .n-center h1{
    margin-top: 10px;
    margin-bottom: 6px;
}
#showcase .n-center{
    display: flex;
    margin-top: 10px;
    background-color: #222128;
}
#showcase .n-center img{
    padding: 10px;
}

#showcase .title h5{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
    margin-left: 3px;
}
#showcase .title h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    margin-left: 3px;
    line-height: 1;
}

.rigth-c{
    order: 3;
    color: #000000;
    flex-basis: 20%;
}
.news-bar{
    display: flex;
    flex-direction: column;
}
.rigth-c p{
    text-transform: uppercase;
    padding-bottom: 3px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    border-bottom: #000000 1px solid;
    margin-left: 10px;
    text-align: left;
    margin-right: 10px;
}
.news-bar a{
    text-decoration: none;
}
.news-bar a:hover{
    text-decoration: underline;
    color: #464D4D;
}
/*Newsletter*/
#newsletter{
    padding: 15px;
    background: #F47641;
    color: white;
}
#newsletter h1{
    display: block;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}


/*boxes*/
#boxes{
    margin-top: 20px;
    background-color: #ffffff;
}
#boxes .box{
    width: 30%;
    padding: 10px;
    text-align: center;
}
#boxes .box img{    
    width: 100%;
}
#boxes .conteiner-1{
    display: flex;
    justify-content: center;
}
/*Footer*/
footer form{
    margin: 10px 10px 15px 10px;
    display: flex;
    align-self: center;
    width: fit-content;
    padding: 3px;
    flex-direction: column;
    flex-basis: 25%;
    align-items: center;
    border: #1D2525 1px solid;
}
footer form p{
    margin: 0;
    color: #ffffff;
    text-transform: uppercase;
    align-self: center;
}
footer input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
    margin: 3px
}
footer .button_1:hover{
    opacity: 80%;
    color: blue;
}
footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    color: white;
    background: url('../img/header-background.jpg') no-repeat -200px -300px;
    text-align: center;
    border-top: grey 3px solid;
}
footer p{
    align-self: center;
}

/*Media Queries*/
@media(max-width: 768px){
    #boxes .conteiner-1{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }
    #boxes  .box{
       width: 100%;
    }
    .nav-bar{
        display: none;
    }
    .fa-bars{
        display: inline;
    }

    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
    #newsletter button{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #newsletter form input[type="email"]{
        width:100%;
        margin-bottom: 5px;
    }
}