#main-form{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}
#helloform{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 10px;
    background-color: #f3f3f3;
}
.cages{
    padding: 5px;
    margin: 3px;
    width: 100%;
}
#main-1{
    margin-top: 20px;;
}
.cages p{
    margin: 0;
    color: #000000;
    align-self: flex-start;
    font-size: 20px;
    font-weight: 300;
    width: fit-content;
}
.cages input{
    width: 100%;
}
#buttonform{
    height: 38px;
    background: #ffa500;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    color:#ffffff;
    width: fit-content;
}
.errorsForm{
    color: #ff0000;
    font-size: 13px;
}
.correctStyle{
    color: #19b419;
}

footer form{
    visibility: hidden;
}
@media only screen and (min-width: 768px) {

    #main-form{
        display: flex;
        flex-direction:row;
        flex-flow: wrap;
        padding-left: 10%;
        padding-right: 10% ;
    }
    .form1{
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin: 10px;
    }
    .cages{
        flex-basis: 35%;
    }
    .cages input{
        width: 100%;
    }
} 